.section2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__contener {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        &__item {
            display: flex;
            flex-wrap: wrap;
            -webkit-box-align: start;
            align-items: flex-start;
            width: calc(33.3% - 40px);
            margin-bottom: 40px;

            &__icon {
                width: 78px;
                height: 55px;
                z-index: 1;
                border: 1px solid #5c6062;
            }

            &__line {
                width: 74%;
                height: 1px;
                align-self: self-end;
                background-color: #e3051b;
            }

            &__content {
                text-align: left;
                margin-top: 20px;
            }
        }
    }
}

.leadership {

    &__block {
        display: grid;
        grid-template-columns: 60% 40%;
        margin-top: 35px;
        text-align: left;


        &__left {
            // width: 60%;
            height: 100%;
            padding: 60px 120px;
            background-color: rgba(196, 196, 196, 0.3);

            @media only screen and (max-width: 992px) {
                padding: 60px 80px;
                width: 100%;
            }

            &__title {
                margin-bottom: 20px;

                h3 {
                    color: #e3051b;
                    display: block;
                    font-size: 1.4em;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                strong {
                    font-weight: bolder;
                }
            }

            p {
                margin-bottom: 15px;
            }
        }

        &__right {
            position: relative;
            // width: 40%;
            height: 100%;
            padding: 60px 120px;
            background-color: #5c6062;
            color: #fff;
            font-style: italic;

            @media only screen and (max-width: 992px) {
                padding: 60px 80px;
                width: 100%;
            }

            p {
                position: relative;
                line-height: 1.6;
            }

            &__quote {
                color: #e3051b;
                font-family: 'Kodchasan' !important;
                position: absolute;
                display: inline-block;
                font-size: 8rem;
                line-height: 1;
                left: 0;
                right: 0;
                text-align: center;
                font-style: normal;
                font-weight: bold;
            }

            .top {
                // position: absolute;
                // left: 19vw;
                // top: -112px;
                top: -110px;
            }

            .bottom {
                // position: absolute;
                // left: 19vw;
                // top: 444px;
                transform: rotate(180deg);
                bottom: -110px;
            }
        }
    }
}

.AboutP {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    // margin-top: 15px;

    &__profile {
        width: calc(50% - 60px);
        margin-bottom: 40px;

        &__title {
            margin-bottom: 20px;

            h3 {
                color: #e3051b;
                display: block;
                font-size: 1.4em;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            strong {
                font-weight: bolder;
            }
        }

        p {
            margin-bottom: 15px;
        }
    }
}