.products {
    position: relative;

    &__terra {
        float: right;

        &__content {
            position: relative;
            width: 482px;
            height: 300px;
            box-align: end;
            align-items: end;
            text-align: right;
            background-color: rgba(87, 96, 103, 1);
            padding: 10px 35px 95px;
            display: flex;
            flex-direction: column;
            color: white;

            &__title {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-size: 35px;
                font-weight: 700;
                line-height: 1.2;
                font-family: 'Kodchasan';

                span {
                    color: #e3051b;
                }
            }

            &__p {
                position: relative;
                top: -30px;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }

            a {
                position: relative;
                top: -26px;
                background-color: transparent;
                cursor: pointer;
                border: 2px solid #ffffff;
                padding: 10px 16px;
                color: #fff;
                text-decoration: none;
                transition: 0.3s all;

                &:hover {
                    border: 2px solid #e3051b;
                    background-color: #e3051b;
                }
            }
        }

        &__img {
            justify-content: flex-end;
            margin-top: -80px;
            padding: 0 40px;
            // position: relative;
            display: flex;

            img {
                // object-fit: contain;
                object-position: top;
                position: relative;
                z-index: 1;
                width: auto;
                height: 100%;
                max-width: 350px;
            }
        }
    }
}