$mobileWidth:992px;

@import 'home.scss';
@import 'about.scss';
@import 'software.scss';
@import 'hardware.scss';
@import 'contact.scss';

* {
    margin: 0;
    box-sizing: border-box !important;
}

body {
    font-family: 'Montserrat';
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    color: #5c6062;
    text-align: center;
}




.click {
    margin-left: 10px;
    transform: rotate(90deg);
}

.secFooter {
    background-color: #5c6062;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    padding: 0;

    .footer {
        display: flex;
        flex-direction: column;
        // align-items: stretch;
        align-items: flex-start;
        // justify-content: center;
        // flex-wrap: wrap;
        // height: 253px;
        padding: 40px 0px 0px 0px;
        margin: auto;
        height: 100%;

        &__columns {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 20px;
            border-bottom-style: solid;
            border-bottom-width: 1px;

            &__block {
                width: 25%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                padding: 20px;

                &--last {
                    padding-top: 0px;
                }

                &--empty {
                    padding: 20px 70px 20px 20px;
                }

                a {
                    transition-duration: 0.3s;
                    cursor: pointer;

                    &:hover {
                        color: #e3051b;
                    }
                }

                .onlyP,
                a {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    color: white;
                    align-items: center;
                    padding: 0px 20px 20px 20px;
                    text-decoration: none;
                    border-style: solid;
                    border-width: 0;
                    transition-timing-function: ease-in-out;
                    transition-property: background-color, color, border-color;
                    border-color: transparent;


                    div {
                        position: relative;
                        top: -5px;
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        border: 2px solid white;
                        margin-right: 8px;
                    }
                }

            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kodchasan';
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section {
    padding: 75px 0px;
    display: block;
}

a {
    color: #e3051b;
    cursor: pointer;
}

textarea {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    font-size: 100%;
}

header {
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 20px 0px;
    display: block;
    background-color: white;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: $mobileWidth) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.current {
    a {
        font-weight: bolder;
    }

    .header__container__right__label__line {
        opacity: 1;
    }
}

.header {
    width: 100%;
    display: block;

    &__container {
        max-width: 1200px;
        padding: 0px 20px;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;

        @media only screen and (max-width: 991px) {
            padding-right: 5px;
        }

        &__left {
            justify-content: flex-start;
            display: flex;
            align-items: center;

            a {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                text-decoration: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    height: 40px;
                    max-width: 100%;
                }
            }
        }

        &__empty {
            flex-grow: 1;
            justify-content: center;
            display: flex;
            align-items: center;
        }


        &__menuMobile {
            transition-duration: 0.4s;
            padding: 15px;
            display: block;
            cursor: pointer;
            z-index: 3;


            @media only screen and (min-width: 992px) {
                display: none !important;

                i {
                    width: 30px;
                    height: 30px;
                    fill: currentColor;
                }
            }
        }


        &__right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            transition-property: opacity, transform, visibility;

            @media only screen and (max-width: 991px) {
                visibility: hidden;
                position: fixed;
            }

            &__label {
                padding: 0px 20px;
                font-size: 1.2rem;
                cursor: pointer;

                .hardware {
                    &:hover {
                        ul {
                            display: block;
                        }

                        .header__container__right__label__line {
                            opacity: 0;
                        }
                    }
                }

                a {
                    text-decoration: none;
                    border-style: solid;
                    border-width: 0;
                    transition-timing-function: ease-in-out;
                    transition-property: background-color, color, border-color;
                    border-color: transparent;
                    color: #5c6062;
                    display: flex;
                }

                &:hover {
                    .header__container__right__label__line {
                        opacity: 1;
                    }
                }

                &__line {
                    width: 30px;
                    height: 5px;
                    margin: auto;
                    background-color: #e3051b;
                    border-radius: 40px;
                    opacity: 0;
                }

                ul {
                    padding: 0;
                    flex-direction: column;
                    white-space: nowrap;
                    display: flex;
                    position: absolute;
                    z-index: 999;
                    margin: auto;
                    top: 80%;
                    opacity: 0;

                    // @media only screen and (max-width: 991px) {
                    //     flex-direction: row;
                    //     align-items: center;
                    // }

                    li {
                        position: relative;
                        flex-direction: column;
                        background-color: white;
                        color: #5c6062;
                        font-size: 0.9rem;
                        list-style-type: none;
                        display: flex;
                        font-weight: 700;
                        padding: 15px 20px;

                        &:hover {
                            background-color: #e3051b;
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
}

.forMobile {
    display: none;
}



#menuForMobile {
    position: fixed;
    z-index: 999;
    width: 100vw;

    height: 100vh;
    overflow: auto;
    background-color: white;
    padding: 20px;
    align-items: flex-start;
    // justify-content: center;
    flex-direction: column;

    display: none;



   

    .hardware {
        &:hover {
            .mobile {
                opacity: 1;
            }
        }
    }

    a {
        text-decoration: none;
        border-style: solid;
        border-width: 0;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color, border-color;
        border-color: transparent;
        color: #5c6062;
        display: flex;
    }

    &__line {
        width: 30px;
        height: 5px;
        margin: auto;
        background-color: #e3051b;
        border-radius: 40px;
        opacity: 0;
    }

    &__label {
        flex-direction: column;
        width: 40%;
        text-align: center;
        font-size: 1.2rem;
        align-items: flex-start;
        min-height: 32px;
        padding-bottom: 20px;
        padding-top: 10px;
        padding-left: 0px;
    }

    .mobile {
        padding: 0;
        flex-direction: column;
        white-space: nowrap;
        display: flex;
        position: absolute;
        z-index: 999;
        margin: auto;
        opacity: 0;
        background-color: white;

        li {
            list-style-type: none;

            &:hover {
                background-color: #e3051b;
                color: white !important;
            }
        }
    }
}

.display{
    display: flex !important;
}
.hide{
    display: none !important;
    
}


.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    height: 100%;
    padding: 75px 20px;
}

.headline {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    font-size: 35px !important;

    h2 {
        font-weight: bold;
        font-size: 28px;

        span {
            color: #e3051b;
        }
    }

    &--left {
        text-align: left;
    }
}

.button {
    font-size: 18px;
    font-family: 'Black Ops One', cursive;
    font-family: 'Kodchasan', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    transition-duration: 0.3s;
    padding: 10px 16px;
    width: 160px;

    a {
        color: #5c6062;
        text-decoration: none;
    }

    &--readMore {
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        margin-right: 20px;

        a {
            color: white;
        }

        &:hover {
            background-color: white;

            a {
                color: #5c6062;
            }
        }
    }

    &--contactUs {
        background-color: #e3051b;
        border: 1px solid #e3051b;
        margin-right: 0px;

        a {
            color: white;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0);

            a {
                color: #e3051b;
            }
        }
    }
}

.headerPage {
    width: 100%;
    height: 400px;
    padding: 75px 20px;
    background-size: cover;
    // background-position: 16% 50%;
    background-position: 50% 50%;
    background-repeat: repeat;

    &__conteiner {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        padding: 75px 20px;

        &__taxt {
            text-align: left;
            max-width: 60%;
            width: 100%;
            color: white;

            h1 {
                font-size: 35px;
                line-height: 2.5;
            }

            p {
                margin: 0px 0px 16px 0px;
            }
        }

    }

    &--about {
        background-image: url(https://geo-genie.co.il/wp-content/uploads/2022/03/Rectangle-3-1-scaled.jpg);
    }

    &--software {
        background-image: url('https://geo-genie.co.il/wp-content/uploads/2022/03/Rectangle-3-3.jpg');
    }

    &--hardware {
        background-image: url('https://geo-genie.co.il/wp-content/uploads/2022/03/Rectangle-3-3.jpg');
    }

    &--contact {
        background-image: url(https://geo-genie.co.il/wp-content/uploads/2022/03/Rectangle-3-5.jpg);
    }
}


.products {
    width: 100%;

    &__Block {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 60px;
        // -webkit-box-orient: horizontal;
        // -webkit-box-direction: reverse;

        &--opposite {
            flex-direction: row;
        }

        &__terra {
            z-index: 2;
            padding-top: 5%;
            width: 45%;

            &__content {
                box-align: end;
                align-items: flex-end;
                text-align: right;
                background-color: rgba(87, 96, 103, 1);
                padding: 20px 40px 100px;
                display: flex;
                flex-direction: column;
                color: white;

                &__title {
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 1.2;
                    font-family: 'Kodchasan';
                    margin-bottom: 10px;

                    p {
                        margin: 0;
                    }

                    span {
                        color: #e3051b;
                    }
                }

                &__p {
                    display: block;
                    margin-bottom: 20px;

                    p {
                        margin: 0;
                    }
                }

                a {
                    border: 2px solid #ffffff;
                    padding: 10px 16px;
                    color: #fff;
                    text-decoration: none;
                    transition: 0.3s all;

                    &:hover {
                        border: 2px solid #e3051b;
                        background-color: #e3051b;
                    }
                }

                &--opposite {
                    box-align: start;
                    align-items: start;
                    text-align: left;
                }
            }

            &__img {
                // position: relative;
                padding-bottom: 70%;
                justify-content: flex-end;
                margin-top: -80px;
                padding: 0 40px;
                display: flex;
                -webkit-box-pack: end;

                img {
                    // position: absolute;
                    object-fit: contain;
                    object-position: top;
                    z-index: 3;
                    width: auto;
                    height: 100%;
                    max-width: 350px;
                    aspect-ratio: auto 768 / 597;
                }

                &--opposite {
                    justify-content: flex-start;
                }

                &--last {
                    height: 400px;
                    margin-top: -50px;
                }
            }
        }

        &__imagse {
            width: 65%;
            margin-right: -10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            -webkit-box-pack: justify;

            &--opposite {
                margin-left: -10%;
            }

            &__bigImg {
                width: 100%;
                height: auto;
                margin-bottom: 2%;

                img {
                    max-width: 100%;
                }
            }

            &__smollImg {
                max-height: 280px;
                width: 49%;
                display: flex;
                height: auto;

                img {
                    width: 100%;
                }
            }
        }

    }
}

@media only screen and (max-width: 1100px) {
    .contactUs {
        &__contener {
            margin: 0;
        }
    }
}

//haeder//
@media only screen and (max-width: 991px) {
    .WhoIsUsing {
        padding-top: 40px;

        &__items {
            // overflow: scroll;

            &__box {
                width: calc(25% - 20px);
            }
        }
    }

    .mainProducts {
        padding-top: 40px;
        padding-bottom: 40px;

        &__items {
            // overflow: scroll;

            &__box {
                width: calc(25% - 20px);
            }
        }
    }

    .section2 {
        &__contener {
            &__item {
                width: calc(50% - 20px);
            }
        }
    }

    .leadership {

        &__block {
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;

            &__left {
                padding: 60px 80px;
                width: 100%;
            }

            &__right {
                padding: 60px 80px;
                width: 100%;
            }
        }
    }

    .AboutP {

        &__profile {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .products {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;


        &__Block {
            -webkit-box-orient: horizontal !important;
            -webkit-box-direction: normal !important;
            flex-direction: row !important;
            flex-wrap: wrap;
            margin-bottom: 0px;

            &__terra {
                width: 100%;
                padding-top: 0;
                padding-bottom: 15px;

                &__content {
                    -webkit-box-align: start;
                    align-items: flex-start;
                    text-align: left;
                    padding: 20px 20px 100px;
                }

                &__img {
                    -webkit-box-pack: center;
                    justify-content: center;
                    padding-bottom: 20%;
                    overflow: hidden;

                    &--last {
                        padding-bottom: 0;
                    }
                }
            }

            &__imagse {
                width: 100%;
                margin-top: 0;
                margin-right: 0%;
                margin-left: 0%;
            }
        }
    }

    .sectiontText {
        margin-top: 30px;
        margin-bottom: 50px;
        padding-top: 0;
        padding-bottom: 15px;
    }

    .headerHome {
        &__contener {
            &__taxt {
                width: 75%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .headerHome {
        height: auto;
        padding: 0;

        &__contener {
            align-items: center;
            text-align: center;
            justify-content: center;

            &__taxt {
                width: 100%;
                align-items: center;
                text-align: center;
                justify-content: center;

                &__buttons {
                    margin-right: 10px;

                }
            }
        }
    }

    .headerPage {
        height: 500px;
        padding-top: 110px;

        &--software {
            background-image: url(https://geo-genie.co.il/wp-content/uploads/2022/03/Group-17.jpg) !important;
        }

        &--hardware {
            background-image: url(https://geo-genie.co.il/wp-content/uploads/2022/03/Group-17.jpg) !important;
        }

        &--about {
            background-image: url(https://geo-genie.co.il/wp-content/uploads/2022/03/Group-16.jpg) !important;
        }

        &--contact {
            background-image: url(https://geo-genie.co.il/wp-content/uploads/2022/03/Rectangle-3-2.jpg) !important;
        }
    }

    .headline {
        padding-right: 20px;
        padding-left: 20px;
    }

    .WhoIsUsing {
        padding-right: 0;
        padding-left: 0;
        overflow: scroll !important;


        &__items {
            display: flex !important;
            flex-wrap: nowrap !important;
            // overflow: scroll !important;
            -webkit-box-pack: start !important;
            justify-content: flex-start !important;

            &__box {
                margin: 0 3%;
                width: calc(40% - 20px) !important;

                &--left {
                    margin-left: 18%;
                }
            }
        }
    }

    .mainProducts {
        overflow: scroll !important;

        &__items {
            padding-right: 0;
            padding-left: 0;
            display: flex !important;
            flex-wrap: nowrap !important;
            -webkit-box-pack: start !important;
            justify-content: flex-start !important;


            &__box {
                margin: 0 3%;
                width: calc(50% - 20px) !important;

                &--left {
                    margin-left: 18%;
                }
            }
        }
    }

    .contactUs {
        &__contener {
            padding-top: 30px;
            padding-bottom: 30px;


            &__icons {
                justify-content: center;
                flex-direction: column;
                align-items: center;


                &__box {
                    font-size: 18px;
                    width: 100%;

                    &--margin {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

    .form {
        // width: 100%;

        &__contener {
            &__half {
                width: 100%;

            }

            &__submit {
                button {
                    width: 100%;
                }
            }
        }
    }

    .headerPage {
        &--contact {
            height: 250px;
        }
    }

    .secFooter {

        .footer {

            &__columns {
                flex-direction: column;

                &__block {
                    display: flex;
                    align-items: start;
                    width: 100% !important;
                    padding-bottom: 0px;
                    padding-left: 10%;

                    &--empty {
                        width: 100% !important;
                        -webkit-box-ordinal-group: 5;
                        order: 4;
                    }
                }
            }
        }
    }

    .partnerBenefits {

        &__items {
            display: flex;
            justify-content: space-between;

            &__box {
                width: 50%;
            }
        }
    }

    .leadership {

        &__block {


            &__left {
                padding: 30px 20px;
            }

            &__right {
                padding: 30px 20px;
            }
        }
    }

    //
}

@media only screen and (max-width: 600px) {
    .WhoIsUsing {

        &__items {

            &__box {
                width: calc(35% - 20px) !important;

                &--left {
                    margin-left: 10%;
                }
            }
        }
    }

    .mainProducts {
        overflow: scroll !important;

        &__items {
            padding-right: 0;
            padding-left: 0;
            display: flex !important;
            flex-wrap: nowrap !important;
            -webkit-box-pack: start !important;
            justify-content: flex-start !important;


            &__box {
                margin: 0 3%;
                width: calc(60% - 20px) !important;
            }
        }
    }

    //
}

@media only screen and (max-width: 480px) {
    .headerHome {
        width: 100%;
        height: auto;
        background-position: 50% 50%;
        background-image: url(https://geo-genie.co.il/wp-content/uploads/2022/03/Rectangle-3.jpg);
        background-size: cover;
        color: white;

        &__contener {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            text-align: justify;

            // &__taxt {

            //     &__buttons {

            //         button {
            //             min-width: 40%;
            //             margin-bottom: 10px;
            //             margin-right: 0px;
            //         }
            //     }
            // }
        }
    }

    .button {

        &--readMore {
            min-width: 40%;
            margin-bottom: 10px;
            margin-right: 0px;
        }

        &--contactUs {
            min-width: 40%;
            margin-bottom: 10px;
        }
    }

    .WhoIsUsing {

        &__items {

            &__box {
                width: calc(28% - 20px) !important;

                &--left {
                    margin-left: 8%;
                }
            }
        }
    }

    .section2 {

        &__contener {

            &__item {
                width: 100%;

                &__icon {}
            }
        }
    }

    //
}

@media only screen and (max-width: 400px) {
    .WhoIsUsing {

        &__items {

            &__box {
                margin: 0 1%;
                width: calc(25% - 20px) !important;

                &--left {
                    margin-left: 6%;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .mainProducts {

        &__items {
            &__box {
                margin: 0 3%;
                width: calc(80% - 20px) !important;

                &--left {
                    margin-left: 16%;
                }
            }
        }
    }
}