@import 'home.scss';
@import 'about.scss';
@import 'software.scss';
@import 'hardware.scss';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    color: #5c6062;
    text-align: center;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kodchasan';
}

section {
    padding: 75px 0px;
}

a {
    color: #e3051b;
}

.wrapper {
    margin: auto;
    max-width: 1200px;
}

.headline {
    text-align: center;
    line-height: 1.2;
    // margin-bottom: 20px;
    height: 33.6px;

    h2 {
        font-weight: bold;
        font-size: 28px;

        span {
            color: #e3051b;
        }
    }
}

.headlineLeft {
    float: left;
}

.button {
    font-size: 18px;
    font-family: 'Black Ops One', cursive;
    font-family: 'Kodchasan', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    transition-duration: 0.3s;
    padding: 10px 16px;
    width: 160px;
    
    &--readMore {
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        margin-right: 20px;
        // padding: 10px 16px;
        color: white;
        // width: 120px;

        &:hover {
            background-color: white;
            color: #5c6062;
        }
    }

    &--contactUs {
        background-color: #e3051b;
        border: 1px solid #e3051b;
        margin-right: 0px;
        // padding: 10px 16px;
        color: white;
        // width: 120px;

        &:hover {
            background-color: rgba(255, 255, 255, 0);
            color: #e3051b;
        }
    }
}

.headerPage {
    position: relative;
    width: 100%;
    // height: 26vh;
    height: 400px;
    // background-image: ;
    background-color: #5c6062;
    padding: 75px 20px;

    &__headerTaxt {
        position: relative;
        top: 2vh;
        color: white;
        margin-left: 18%;
        width: 600px;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;

        h1 {
            font-size: 35px;
            line-height: 2.5;
        }

        p {
            margin: 0px 0px 16px 0px;
        }
    }
}